{% extends 'base.html' %}

{% block title %}
<h2>Game list</h2>
{% endblock %}

{% block content %}
{% if game_list %}
<div class="row">
    {% for game in game_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:game_detail' game.id %}">
        {{ game.name }}
        </a></h4>
        <h5>{{ game.review_set.count }} review(s)</h5>
        {% comment %}
        <h5>{{ game.average_rating | floatformat }} average rating</h5>
        {% endcomment %}
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No games are available.</p>
{% endif %}
{% endblock %}
